* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-color: #fffffd;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90vw;
  height: 90vh;
}

.input {
  flex-direction: column;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.input #input-field {
  width: 40%;
  height: 50px;
  text-align: center;
  outline: none;
  border: 1px solid #cec6c6;
  border-radius: 10px;
}

.flex {
  height: 500px;
}

.items {
  padding: 10px;
  color: #443d3d;
}

#selectIterms {
  /* margin: 0 auto; */
  outline: none;
  width: 30%;
  background-color: #f0f8ff;
  border: 1px solid #fff;
  border-radius: 7px;
  box-shadow: 2px 2px 10px 2px;
  padding: 15px;
}

#selectedWeigth {
  padding: 30px;
  color: #ff0000;
  font-size: 28px;
}

#output {
  font-size: 25px;
  padding: 30px;
  font-family: sans-serif;
  width: 50%;
  height: 50%;
 }

 #done {
  background-color: #03c003;
  width: 10%;
  height: 20px;
 }